
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: rgb(149, 183, 204);
}
#mine {
    margin: 50px auto;

}

.level {
    text-align: center;
    margin-bottom: 12px;
}

.level button {
    padding: 7px 15px;
    background-color: #597ca3;
    border: none;
    color: #fff;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.level button.active {
    background-color: #208da8;
}

table {
    border-spacing: 1px;
    background-color: #929196;
    margin: 0 auto;
    box-shadow: 2px 2px 2px rgb(179, 176, 176);

}

td {
    padding: 0;
    width: 23px;
    height: 23px;
    background-color: #ccc;
    border: 2px solid;
    border-color: rgb(243, 234, 234) #a1a1a1 #918e8e #fff;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgb(179, 176, 176);

}
.game-pane {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(141, 128, 128);

    box-shadow: 2px 2px 2px rgb(179, 176, 176);
}


.mine {
    background: #d9d9d9 url(mine.jpg) no-repeat center;
    background-size: cover;
}

.flag {
    background: #ccc url(flag.jpg) no-repeat center;
    background-size: cover;
}

.info {
    margin-top: 10px;
    text-align: center;
}

td.zero {
    border-style: solid;
    border-color: rgb(231, 231, 231);
    background-color: #eee;
}

td.one {
    background-color: #eee;
    border-color: rgb(231, 231, 231);
    color: #5369c9;
}

td.two {
    background-color: #eee;
    border-color: #ebebeb;
    color: #32a132;
}

td.three {
    background-color: #eee;
    border-color: #d9d9d9;
    color: #cf4e37;
}

td.four {
    background-color: #eee;
    border-color: #d9d9d9;
    color: #962e92;
}

td.five {
    background-color: #eee;
    border-color: #d9d9d9;
    color: #f38236;
}

td.six {
    background-color: #eee;
    border-color: #d9d9d9;
    color: #ff3fff;
}

td.seven {
    background-color: #eee;
    border-color: #d9d9d9;
    color: #3fffbf;
}

td.eight {
    background-color: #eee;
    border-color: #d9d9d9;
    color: #22ee0f;
}
